html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: lightcyan;
}

.container {
    width: 50%;
    background-color: white;
    margin: 0 auto;
}
.top {
    height: 25vh;
    background-color: lightgreen;
}
.content {
    height: 75vh;
    background-color: paleturquoise;
    display: flex;

}

.left {
    width: 30%;
    height: 100%;
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
        width: 7%;
        height: 7%;
    }
}
.contact {
    div {
        display: flex;
    }
}
.right {
    width: 70%;
    height: 100%;
    background-color: plum;
    display: flex;
    flex-direction: column;

}
